
<html>
<head>
	<title>Actor List</title>
</head>
<body>
<ul class="actors_list">
	
	<script id="actor_list_template" type="text/x-handlebars-template">
	{% verbatim %}

		{{#each }}
		<li="{{actor_id}}">
			<a>{{fullName this}}</a>
		</li>
	{{/each}}
		
	{% endverbatim %} %}

	</script>


</ul>
</body>
</html>