{% load static %}

<html>
<head>
	<title>Bau Bau</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>

<h2>Search Actors By Last Name</h2>
<form id="actors_form" action="." method="post">
{% csrf_token %}
	<select name="q" id="q">
		{% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
		<option value="{{letter}}">{{letter}}</option>
		{% endfor %}
	</select>
	<button type="submit">Go!</button>
</form>

<ul class="actors_list">
	<script id="actor_list_template" type="text/x-handlebars-template">
		{% verbatim %}
			{{#each this}}
				<li data-actor_id="{{actor_id}}">
					<a href="actor.php?actor_id={{actor_id}}">{{fullName this}}</a>
				</li>
			{{/each}}
		{% endverbatim %}
	</script>
</ul>

<div class="actor_info">
	<script id="actor_info_template" type="text/x-handlebars-template">
	{% verbatim %}
		{{{info}}}
		<span class="close">X</span>
	{% endverbatim %}
	</script>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.0.beta.6.js"></script>
<script src="{% static "js/scripts.js" %}"></script>

</body>
</html>