
<html>
<head>
	<title></title>
</head>
<body>


<table border="5" style="width:70%">
<tr>
    <th>First Name</th>
    <th>Last Name</th> 
    <th>Actor id</th>

  </tr>
    {% for actor in actors %}
    {% csrf_token %} 
    <tr>
        <td>{{ actor.first_name }} </td> 
        <td>{{ actor.last_name }} </td>
        <td>{{ actor.actor_id}}</td>
    </tr>

    {% endfor %}
</table>





</body>
</html>

